@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdminlte.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Welcome</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"><a href="#">Home</a></li>
                    <!-- <li class="breadcrumb-item active">Inline Charts</li>-->
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- COLOR PALETTE -->
        <div class="card card-default color-palette-box">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tag"></i>
                    Samex Demo website
                </h3>
            </div>
            <div class="card-body">
                <ol >
                    <li><a target="_blank" href="https://system.netsuite.com/pages/customerlogin.jsp?country=US">Netsuite</a></li>
                    <li ><a target="_blank" href="https://samex-env.net/">Legacy Website</a></li>
                </ol>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
